# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Reports
reports/

# Logs
*.log

# Data files (if large)
# data/
# models/
